<div class="jumbotron">
  <h1>Welcome!</h1>

  <h2>
    This is the home page for the NM2103 Quantitative Research Methods module research participation administration for students and instructors.
  </h2>

  <p>If you are a student, please sign-up below or sign-in using the link above. If you are an instructor, please use the "Admin" link on the top right to log-in.</p>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
